* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family:fantasy
}

body {
  background-color: #F5E6C8; 
  color: #3E2723; 
}
img {
  cursor: pointer; 
}

.flex-div {
  display: flex;
  align-items: center; 
}
p{
  cursor: pointer;
}
.container, .main-content {
  background-color: #F5E1B7;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}
