.home-container {
    display: flex;
    height: 100vh;;
    flex-direction: column;
    background-color: #F5E6C8; 
    padding: 40px;
    margin-top: 8%;
  }
  
  .featured-section {
    margin-bottom: 40px;
  }
  
  h2 {
    color: #6E2127;
    font-family: fantasy;
    margin-bottom: 20px;
  }
  
  .book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    cursor: pointer;
  }
  
  .book-card {
    border: 1px solid #8A6E42;
    border-radius: 5px;
    padding: 15px;
    gap: 30px;
    background-color: #F5E6C8;
  }
  
  .book-thumbnail {
    height: 265px;
    background-image: url('scroll.png');
    margin-bottom: 10px;
    background-size:cover;
    background-position: center;
    
  }
  .error-message{
    color:#d9534f;
    background-color: #f8d7da;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
  }