.home-container {
    display: flex;
    height: 100vh;;
    flex-direction: column;
    background-color: #F5E6C8; 
    padding: 40px;
    margin-top: 14%;
    margin-bottom: 25%;
  }
  
  .featured-section {
    margin-bottom: 50px;
  }
  
  .book-card h3 {
    color: #6E2127;

    margin-bottom: 10px;
    font-weight: bold;
  }
  
  
  .book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 85px;
    cursor: pointer;
  }
  
  .book-card {
    border: 2px solid #6E2127;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    gap: 30px;
    background-color: #F5E6C8;
  }
  .book-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    }
  .book-thumbnail {
    height: 265px;
    background-image: url('scroll.png');
    margin-bottom: 10px;
    background-size:cover;
    background-position: center;
    
  }
  .book-card p {
    margin-bottom: 5px;
    color: #613e05; 
}
  .error-message{
    color:#d9534f;
    background-color: #f8d7da;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  .addtocart {
    background-color: #6E2127; 
    color: #F5E6C8; 
    border: none;
    padding: 10px 15px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
  .addtocart:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0,0,0,0.15); 
  }
  .star-rating {
    display: inline-flex;
    align-items: center;
  }
  
  .star {
    color: #ccc;
    font-size: 24px;
    margin-right: 4px;
  }
  
  .star.full {
    color: #f8ce0b;
  }
  
  .star.half {
    position: relative;
  }
  
  .star.half:before {
    content: '\2605';
    position: absolute;
    left: 0;
    color: #f8ce0b;
    overflow: hidden;
    width: 50%;
  }
